[master]
port = 8086
host = "0.0.0.0"
n_jobs = 1
meta_timeout = 10

[database]
data_store = "mysql://gorse:gorse_pass@tcp(gorse-mysql:3306)/gorse?parseTime=true"
cache_store = "redis://gorse-redis:6379/0"

[server]
default_n = 10

[recommend]
cache_size = 100
cache_expire = "72h"

[recommend.data_source]
positive_feedback_types = ["read", "like", "favorite"]

[recommend.collaborative]
model_fit_period = "60m"

[recommend.offline]
check_recommend_period = "1m"
refresh_recommend_period = "24h"
enable_collaborative_recommend = true